<div class="container">


  <div class="row">

    <div class="">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>region</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cafes">
            <td>{{ item.id}}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.tipo }}</td>
            <td>{{ item.region }}</td>
          </tr>
        </tbody>
      </table>

      <p> total cafe de origen: {{cantidadOriginal }}</p>
      <p> total cafe de blend: {{cantidadBlend  }}</p>



    </div>


  </div>


</div>
